%h1 Tasks
%ul#tasks
  - @tasks.each do |task|
    %li
      #{task.task_name}
      %br
      Due Date: #{task.date}
      %br
      Tags: #{task.tags.map(&:name).join(', ')}
%a{:href => "/tasks/new"} Add new task

