%h1 Create a new task:
%form{:action => "/tasks", :method => "post"}
  Task name:
  %input{:name => "task_name", :type => "text"}
    %br
      Date:
      %input{:name => "date", :type => "date"}
        %br
          Tags:
          %input{:name => "tag", :type => "text"}
            %br
              %input{:type => "submit", :value => "Create task"}

